<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666189183421-p1i6565m9uu5j2pa2970dqlric8g85en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666189183421-p1i6565m9uu5j2pa2970dqlric8g85en</string>
	<key>API_KEY</key>
	<string>AIzaSyAoBz8RHX3okzvbbmkK-mvXBwYx9H2C2_c</string>
	<key>GCM_SENDER_ID</key>
	<string>666189183421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Wechat</string>
	<key>PROJECT_ID</key>
	<string>wechat-90c93</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-90c93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666189183421:ios:a5265657f31b678be7bad4</string>
</dict>
</plist>